* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: 100%;
    background-color:blanchedalmond;
    
}


/* nevigation bar */
nav div.container  {
    background-color: rgba(0, 0, 0, 0.74);
    width: 100%;
    height: 60px;
    
}

nav div.container ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    
}

nav div.container ul li {
    align-self: center;
    font-size: 40px;
    width: 200px;
    text-align: center;
}


nav div.container ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.712);
}

nav div.container ul li a:hover {
    color: white;
}

/* Welcome page (home page) */
.welcome {
    width: 100%;
    
}


.welcome > h1, .welcome > h2 {
    text-align: center;
    height: 100px;
    padding: 5px 0px;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.61);
    margin: 5% 0;
}


.welcome > h1 {
    margin: 10% 0;
    font-size: 60px;
    text-align: center;
    vertical-align: center;
}

.welcome > h2:nth-child(2){
    font-size: 35px;
    margin: 5% 0;
}


/* *************************************************** */


/* sign up form */
.signup-heading {
    text-align: center;
    font-size: 60px;
    margin: 4% 0 0 0;
}
div.signup-form form {
    text-align: center;
    margin:center;
}


div.signup-form form input {
    /* margin: 0px 25%; */
    display: block;
    width: 400px;
    height: 60px;
    border-radius: 3%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
}

div.signup-form form input:first-child {
    margin-top: 5%;
}


div.signup-form form button {
    width: 200px;
    height: 50px;
    font-size: 27px;
    border-radius: 5px;
    background-color: white;
    
    
}

div.signup-form form button:hover {
    background-color: rgba(255, 255, 255, 0.315);
    cursor: pointer;
}

div.signup-form > p {
    font-size: 33px;
    text-align: center;
    margin-top: 4%;
}

div.signup-form img:nth-child(3) {
    position: fixed;
    bottom: 0;
    left: 15%;
    width: 250px;
    height: 200px;
}




/* *************************************************** */
/* login page */
.login-heading {
    text-align: center;
    font-size: 60px;
    margin: 4% 0 0 0;
}

div.login-form form {
    text-align: center;
    margin:center;
}


div.login-form form input {
    /* margin: 0px 25%; */
    display: block;
    width: 400px;
    height: 60px;
    border-radius: 3%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;

}


div.login-form form button {
    width: 200px;
    height: 50px;
    font-size: 27px;
    border-radius: 5px;
    background-color: white;
    
}

div.login-form form button:hover {
    background-color: rgba(255, 255, 255, 0.315);
}


div.login-form > p {
    font-size: 33px;
    text-align: center;
    margin-top: 4%;
}

div.login-form > img:nth-child(3) {
    position: fixed;
    bottom: 0;
    left: 18%;
    width: 250px;
    height: 200px;
}


/* The home page */
div.homepage > h1 {
    text-align: center;
    font-size: 45px;
    color: rgba(56, 51, 51, 0.863);
}

div.homepage > h1:first-child {
    margin-top: 6%;
}
div.homepage > h1:nth-child(2) {
    margin-top: 4%;
    color: rgba(68, 60, 60, 0.712);
    font-size: 35px;
}

div.homepage > button {
    width: 150px;
    height: 50px;
    font-size: 25px;
    font-weight: bolder;
    display: block;
    margin: 5% auto 3% auto;
    border-radius: 4px;
    cursor: pointer;
    background-color: rgb(233, 152, 105);

}

div.homepage > button:hover {
    background-color: burlywood;
    color:rgba(255, 255, 255, 0.712)
}



div.homepage > h2 {
    font-size: 35px;
    color: rgba(68, 60, 60, 0.712);
    display: block;
    text-align: center;
    margin-top: 6%;
}

div.homepage > p {
    font-size: 25px;
    margin: 1% 17%;
    text-align: center;
    color: rgba(68, 60, 60, 0.712);
}



/* The display page */

div.display-container h1 {
   text-align: center;
   font-size: 60px;
   margin-top: 3%;
}


div.display-container form {
    display: block;
    width: 520px;
    height: 50px;
    float: right;
    margin: 5%;
    
    
}

.display-container form > input {
    width: 350px;
    height: 50px;
    font-size: 15px;
    text-align: center;
    border-radius: 3px;

}

.display-container form > button {
    width: 140px;
    height: 50px;
    font-size: 15px;
    margin-left: 3%;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.836);
    cursor: pointer;
}

.display-container .record-container {
    border: 1px solid black;
    
}

.display-container .record-container {
    border: 1px solid black;
    clear: right;
    
    
}

.record-container {
    border: 2px solid black;
    border-radius: 2px;
    background-color:rgba(255, 255, 255, 0.425);

}

.record-container > div {
    margin: 1% 4%;
    text-align: center;
    display: block;
    

}

.record-container > div:first-child {
    font-size: 20px;
    
}



.record-container .image {
    border: 1px solid rgba(0, 0, 0, 0.644);
    display: block;
    width: 250px;
    height: 200px;
    margin: auto;
    
}





